@font-face {
  font-family: "BPdots";
  src: url('assets/fonts/BPdots.otf');
  src: url('assets/fonts/BPdotsBold.otf');
}

html, body {
  margin: 0;
  padding: 0;
  
}

canvas {
  display: block;
}


body {
  font-family: "BPdots";
  margin: 0;
}

button {
  background-color: white;
  border: none;
  color: #eb5b13;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;

}

#numHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  color: #eb5b13;
}

#title {
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 0px;
  font-weight: normal; 
  font-size: 24px;
}

h2 {
  font-family: "BPdots";
  font-weight: normal; 
  font-size: 20px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}